{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--  Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
    <title> {% block title %}{% endblock title %} </title>
</head>
<body>
    <div class="container text-center">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="{% static 'core/img/cnd_logo_2.png' %}" alt="Logo CND" width="198" height="39" class="d-inline-block align-text-top">
              </a>
              <div class="mx-5 fs-2 text-uppercase">Centro Regional Suroccidente</div>
                <img src="{% static 'core/img/g6.png' %}" alt="Logo CORPOELEC" width="15%" height="39" class="d-inline-block align-text-top">
          </div>
        </nav>
    </div>
    
    {% block content %}
    {% endblock content %}






    <script src=" {% static 'core/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>